<table>
  <thead>
    <tr>
      <th data-field="name">Name</th>
      <th data-field="email">Email</th>
      <th data-field="department">Department</th>
      <th data-field="admin">Admin</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <select class="browser-default">
            <% if user.department %>
              <option value="" selected><%= user.department.name %></option>
            <% else %>
              <option value="" selected>Select a Department</option>
            <% end %>
            <option value="1">Distribution</option>
            <option value="2">Production</option>
            <option value="3">Education</option>
          </select>
        </td>
        <td>
          <div class="switch">
            <label> False <input type="checkbox" <%= "checked" if user.admin? %>><span class="lever"></span> True </label>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="right-align">
  <a class="waves-effect waves-light btn">Save Changes</a>
</div>
