.nav-wrapper .brand-logo {
  padding-left: 30px;
}

ul.side-nav {
  background: #03A54F;
}

ul.side-nav li {
  padding-left: 40px;
}

ul.side-nav li.top-logo  {
  color: #fff;
  padding-left:0px;
  vertical-align:middle;
}

ul.side-nav li.top-logo a {
  display:inline;
}

ul.side-nav a {
  color: #fff;
}

ul.side-nav li:hover {
  background: rgb(69, 39, 160);
}

ul.side-nav li.logo {
  height: 150px;
}

h3 small {
  display: inline-block;
  vertical-align: middle;
  font-size: 40%;
  margin-left: 1em;
}

div.login-container {
  padding-top: 10em;
  text-align: center;
  color: #fff
}

div.login-logo {
  padding-bottom: 2em;
}