nav {
  .button-collapse {
    margin-right: 1em;
  }

  .brand-logo {
    position: relative !important;
    font-size: inherit !important;
    img {
      vertical-align: middle;
    }
  }

  .side-nav {
    li:hover, li.active {
      background-color: rgba(#000, 0.1);

      &.no-padding {
        background-color: inherit;
      }
    }
  }
}

h3 small {
  display: inline-block;
  vertical-align: middle;
  font-size: 40%;
  margin-left: 1em;
}
